<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>POSTHOG_API_KEY</key>
	<string>phc_LRinYIxMg2RQiL3KZ2RwGgsGjGpYZBCfDdBELhS2Z9E</string>
	<key>POSTHOG_HOST</key>
	<string>https://us.i.posthog.com</string>
	<key>REVENUECAT_API_KEY</key>
	<string>appl_mLdvJDUUgIejBXSkILvymckRyeS</string>
	<key>REVENUECAT_TEST_API_KEY</key>
	<string>test_jaiAgRjtbZPWNCRqxGMoQBLPMIN</string>
	<key>SUPABASE_KEY</key>
	<string>sb_publishable_SQ-w0vWM9q3r5eF6PCAFCQ_e12p8AmT</string>
	<key>SUPABASE_URL</key>
	<string>https:/$()/ztziuiiharxtvzitwzfv.supabase.co</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>CompPrep needs access to save your workout achievements to your photo library.</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>instagram</string>
        <string>instagram-stories</string>
    </array>
	<key>photo</key>
	<string></string>
</dict>
</plist>
